model_config_list:{
    config:{
        name: "model_1",
        base_path: "/models/model_1",
        model_platform: "tensorflow",
        model_version_policy:{
            all: {}
        }
    },
    config:{
        name: "model_2",
        base_path: "/models/model_2",
        model_platform: "tensorflow",
    }
}